[submodule "external/reshade"]
	path = external/reshade
	url = https://github.com/crosire/reshade

[submodule "external/Streamline"]
	path = external/Streamline
	url = https://github.com/NVIDIAGameWorks/Streamline.git

[submodule "external/gtl"]
	path = external/gtl
	url = https://github.com/greg7mdp/gtl.git
[submodule "external/SpecialK"]
	path = external/SpecialK
	url = https://github.com/SpecialKO/SpecialK.git
[submodule "external/sanitiz_metadata"]
	path = external/sanitiz_metadata
	url = https://github.com/Kaldaien/sanitize_metadata.git

[submodule "private_docs"]
	path = private_docs
	url = git@github.com:pmnoxx/reshade-display-commander.git
